.description{
    align-items: center;
    background-color: var(--azul);
    color: var(--preto);
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100%;
}
.description .container{
    align-items: center;
    height: auto;
    width: 90%;
}
.description__paragraph{
    font-size: 1.2em;
    line-height: 1.5em;
}